@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto";
}

a {
  text-decoration: none !important;
}

.banner {
  max-height: 54px;
  padding: 12px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 54px;
  gap: 32px;
  border-bottom: 1px solid #676767;
}
.banner .content {
  gap: 16px;
  max-height: 30px;
  gap: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  border-right: 1px solid black;
  padding: 4.5px 0px;
  padding-right: 16px;
  margin: 0 auto;
}
.banner .content p span {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.banner .banner_icons {
  display: flex;
  justify-content: space-between;
  max-height: 24px;
  gap: 16px;
  padding: 0px 16px;
}

.header_section {
  padding: 0px 64px;
  border-bottom: 1px solid #676767;
  justify-content: space-between;
}
.header_section .collapse {
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.header_section .collapse .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-height: 40px;
  gap: 32px;
}
.header_section .collapse .button {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.hero_section {
  background-image: url("/img/img 1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
}
.hero_section .text {
  padding: 0px 64px;
  align-items: center;
  padding-top: 300px;
}
.hero_section .text .p1 {
  width: 560px;
  height: 27px;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.hero_section .text h1 {
  width: 560px;
  height: 134px;
  font-size: 56px;
  font-weight: 700;
  color: #FFFFFF;
}
.hero_section .text .p2 {
  width: 560px;
  height: 81px;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.hero_section .text .click {
  max-width: 202px;
  max-height: 48px;
  border-radius: 5px;
  padding: 12px 24px;
  gap: 8px;
  border: 1px white;
  background-color: #D12C42 #D12C42;
  color: #000000;
}
.hero_section .text .click:hover {
  background-color: #000000;
  color: white;
}

.well_come_section {
  width: 100%;
  max-height: 864px;
  padding: 112px 64px;
  gap: 80px;
  align-items: center;
}
.well_come_section .about {
  padding-top: 200px;
}
.well_come_section .about .p1 {
  width: 616px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
}
.well_come_section .about h2 {
  width: 616px;
  height: 58px;
  font-weight: 700;
  font-size: 48px;
}
.well_come_section .about .p2 {
  width: 616px;
  height: 162px;
  font-weight: 400;
  font-size: 18px;
}
.well_come_section .about .press {
  max-height: 40px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px 20px;
  background-color: #000000;
  color: #FFFFFF;
}
.well_come_section div > img {
  width: 616px;
  height: 640px;
  align-items: center;
}

.choose_section {
  background-color: #F4F4F4;
  max-height: 1159px;
  padding: 112px 64px;
  gap: 80px;
  align-items: center;
}
.choose_section .choose {
  text-align: center;
  max-height: 203px;
  gap: 16px;
}
.choose_section .choose .p1 {
  height: 24px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.choose_section .choose h2 {
  height: 58px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.choose_section .choose .p2 {
  height: 81px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.choose_section .why {
  padding: 100px;
  max-height: 652px;
  gap: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.choose_section .butter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  padding: 16px 0px;
}
.choose_section .butter .go {
  max-height: 48px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 12px 24px;
  gap: 8px;
}

.doctors {
  max-height: 1414px;
  padding: 112px 64px;
  gap: 80px;
}
.doctors .doctor {
  align-items: center;
  text-align: center;
}
.doctors .doctor .p1 {
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.doctors .doctor h1 {
  height: 67px;
  font-weight: 700;
  font-size: 56px;
}
.doctors .doctor .p2 {
  height: 27px;
  font-weight: 400;
  font-size: 18px;
}
.doctors .do {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 372px;
  gap: 64px;
  text-align: center;
}
.doctors .do h5 {
  padding-top: 25px;
  height: 34px;
  font-weight: 700;
  font-size: 24px;
}
.doctors .do .na {
  height: 27px;
  font-size: 18px;
  font-weight: 400;
  padding-top: 25px;
}
.doctors .do .me {
  padding-top: 25px;
  height: 21px;
  font-weight: 600;
  font-size: 21px;
}
.doctors .put {
  padding-top: 100px;
  text-align: center;
}
.doctors .put .enter {
  height: 48px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 12px 24px;
  gap: 8px;
}

.health_section {
  padding: 112px 64px;
  background-color: #F4F4F4;
}
.health_section .container_fluid .health_head {
  text-align: center;
}
.health_section .container_fluid .health_head h5 {
  font-size: 26px;
  font-weight: 600;
  line-height: 24px;
}
.health_section .container_fluid .health_head h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
.health_section .container_fluid .health_head p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.health_section .container_fluid .health_card {
  padding: 80px 0px 0px 0px;
  text-align: center;
  gap: 96px;
}
.health_section .container_fluid .health_card .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.health_section .container_fluid .health_card .cards .card {
  width: 390px;
  height: 378px;
  border-radius: 5px;
  padding: 24px 16px;
  gap: 24px;
  margin-bottom: 100px;
  border: none;
}
.health_section .container_fluid .health_card .cards .card img {
  width: 62px;
  height: 56px;
  margin: 0 auto;
}
.health_section .container_fluid .health_card .cards .card h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.health_section .container_fluid .health_card .cards .card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.health_section .container_fluid .health_card .cards .card .btn a {
  padding: 12px 24px;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.health_section .container_fluid .health_card .cards .card .btn a span {
  margin-left: 8px;
}
.health_section .container_fluid .health_btn {
  text-align: center;
}
.health_section .container_fluid .health_btn button {
  border: 1px solid #000000;
  padding: 12px 24px;
  border-radius: 5px;
  gap: 8px;
  background-color: #FFFFFF;
}
.health_section .container_fluid .health_btn button a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.request_section {
  height: 956px;
  padding: 112px 64px;
  gap: 8px;
}
.request_section h5 {
  width: 78px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
}
.request_section h2 {
  width: 351px;
  height: 58px;
  font-size: 48px;
  font-weight: 700;
}
.request_section p {
  width: 444px;
  height: 27px;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.request_section .contact {
  display: flex;
  justify-content: space-between;
  max-height: 80px;
  gap: 24px;
}
.request_section .contact label {
  height: 24px;
  width: 296px;
  font-size: 16px;
  font-weight: 400;
}
.request_section .contact input {
  width: 296px;
  max-height: 48px;
  padding: 12px;
  gap: 8px;
}
.request_section .form {
  display: flex;
  justify-content: space-between;
  max-height: 80px;
  gap: 24px;
}
.request_section .form label {
  height: 24px;
  width: 296px;
  font-size: 16px;
  font-weight: 400;
}
.request_section .form select {
  width: 296px;
  max-height: 48px;
  padding: 12px;
  gap: 8px;
}
.request_section .form-check {
  max-height: 37px;
  padding: 16px 18px;
  gap: 12px;
}
.request_section .button {
  padding: 16px 0px;
}
.request_section div > img {
  width: 552px;
  height: 700px;
  border-radius: 5px;
}

.help_section {
  background-color: #F4F4F4;
  max-height: 446px;
  padding: 112px 64px;
  gap: 80px;
}
.help_section .help {
  max-height: 222px;
  border: 1px solid black;
  padding: 48px;
  gap: 80px;
}
.help_section .help h3 {
  width: 972px;
  height: 48px;
  font-weight: 700;
  font-size: 40px;
}
.help_section .help p {
  font-weight: 400;
  font-size: 18px;
}
.help_section .help a {
  text-decoration: underline;
  border: 0px 0px 1px 0px;
}
.help_section .help .help_btn {
  margin-top: 30px;
  max-height: 48px;
  gap: 16px;
}

.stars_section {
  max-height: 540.89px;
  padding: 112px 64px;
  gap: 48px;
}
.stars_section .content {
  max-height: 316.89px;
  gap: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stars_section .content .writting .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 18.89px;
  gap: 4px;
}
.stars_section .content .writting p {
  padding-top: 24px;
  height: 102px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.stars_section .content .writting .img {
  max-height: 56px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 64px;
}
.stars_section .content .writting .dot {
  padding-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subcribe_section {
  background-color: #F4F4F4;
  height: 482px;
  padding: 112px 64px;
  gap: 48px;
  text-align: center;
}
.subcribe_section .subcribe {
  height: 258px;
  gap: 24px;
}
.subcribe_section .subcribe h2 {
  height: 58px;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
.subcribe_section .subcribe p {
  height: 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.subcribe_section .subcribe input {
  max-height: 48px;
  border-radius: 5px;
  padding: 6px;
  gap: 8px;
}
.subcribe_section .subcribe h6 {
  height: 18px;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
}

.footer_section {
  max-height: 542px;
  padding: 80px 64px;
  gap: 80px;
}
.footer_section .foot {
  height: 212px;
}
.footer_section .foot img {
  margin-bottom: 20px;
}
.footer_section .foot .p1 {
  height: 24px;
  font-weight: 400;
  font-size: 16px;
}
.footer_section .foot input {
  max-height: 48px;
  border-radius: 5px;
  padding: 12px;
  gap: 8px;
}
.footer_section .foot .btn {
  border: 1px solid black;
  padding: 10px;
}
.footer_section .foot .p2 {
  width: 500px;
  height: 36px;
  font-weight: 400;
  font-size: 12px;
  padding-top: 15px;
}
.footer_section .ter p {
  height: 24px;
  font-size: 16px;
  font-weight: 600;
}
.footer_section .ter li {
  list-style: none;
  padding: 8px 0px;
}
.footer_section .ter li img {
  padding-right: 10px;
}
.footer_section .last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.footer_section .last .last_section {
  width: 195px;
  height: 21px;
  font-size: 14px;
  font-weight: 400;
}
.footer_section .last .last_word {
  display: flex;
  justify-content: space-between;
  gap: 0px 40px;
  height: 21px;
  font-weight: 400px;
  font-size: 14px;
  padding: 0px 20px;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */